- spree_class: "Spree::Product"
  type: 'product'
  mapping:
    product:
      properties:
        name:
          type: "multi_field"
          fields:
            name:
              type: "string"
              analyzer: "english_to_korean_synonym"
              index_options: "offsets"
            na_name:
              type: "string"
              index: "not_analyzed"
            edge_name:
              type: "string"
              analyzer: "english_edge"
        taxons:
          type: "string"
          index: "not_analyzed"

